:root {
    --main-text-font: "Cutive Mono", monospace;
    --main-bg-color: #343A40;
    --main-text-color: #F8F8FF;
    --disabled-content-color: #555555;
}

body, .card-custom {
    background-color: var(--main-bg-color);
    font-family: var(--main-text-font);
    color: var(--main-text-color);

}

.card-custom {
    height: 25rem;
}

.disabled-btn-custom {
    pointer-events: none;
    background-color: var(--disabled-content-color);
    border-color: var(--disabled-content-color)
}

.nav-item.nav-link.col-3 {
    width: auto;
}

.navbar-nav>a {
    display: inline-block;
}
